body {
  text-align: left;
  overflow-x: hidden;
  padding: 15px;
}
pre{
  overflow-x: scroll;
}
img{
   border-radius: initial;
   height: initial;
   margin: 0 auto;
   width: 100%;
}
.nav-fixed{
  position: fixed;
  top: 0;
  left: 50px;
}
.nav-fixed ul li {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
}
.nav-fixed ul li a {
  color: black;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}
.articles-list{
   list-style-type: none;
   padding: 0;
  list-style-type: none;
}
.articles-list-link{
  text-decoration: none;
}
.right-align{
  text-align: right;
}
.read-more{
    text-decoration: none;
}
hr{
  background-color: #fff;
border-top: 2px dashed #8c8b8b;
}
table {
  padding: 0;
  width: 100%;
}
  table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0; }
    table tr:nth-child(2n) {
      background-color: #f8f8f8; }
    table tr th {
      font-weight: bold;
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr td {
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr th :first-child, table tr td :first-child {
      margin-top: 0; }
    table tr th :last-child, table tr td :last-child {
      margin-bottom: 0; }
.header-article{
  height:100vh;
}
.article-title{
    font-size: 5rem;
}
.article-date{
    font-size:1.5rem;
    margin-top: -20px;
}
.title-hide{
   opacity: 1;
  position: fixed;
right: 0;
bottom:50%;
width: 100%;
  text-align: center;
  transform:  scale(1);
      -webkit-transition: all 100ms ease-in;
         -webkit-transform: scale(1);
         -ms-transition: all 100ms ease-in;
         -ms-transform: scale(1);
         -moz-transition: all 100ms ease-in;
         -moz-transform: scale(1);
         transition: all 100ms ease-in;
    }
